*{
    padding: 0px;
    margin: 0px;
    border: 0px;
} 
body{
    background-image: url("../imagenes/anime.jpg");
    background-size: cover;
    background-repeat: repeat-x;
}

#juego{
    display: none;
}

#tablero{
    width: auto;
    height: auto;
}

#div{
    position: relative;
    width: 50%;
    height: 30%;
    left: 25%;
    top: 25em;
    color: white;
    text-align: center;
    overflow: auto;
}

#celdas{
    width: 30px;
    height: 30px;
}
